core-courses-course-progress {
    color: #3f704d;
    .course-title {
        margin: 0 0 0 14px !important;
        font-size: medium;
        line-height: 2rem;
        overflow: unset;
        text-overflow: unset;
        white-space: unset;
        word-break: break-word;
    }
    .thumb-course {
        font-size: 3rem;
        color: #3f704dee;
    }
}
