<ng-container *ngIf="categories && categories.length > 2; then blockcategory"></ng-container>

<ng-template #blockcategory>
<ion-grid class="tab-category">
    <ion-row>
        <ion-col col-3 col-sm *ngFor="let category of categories; index as i" 
            title="{{ category.name }}" (click)="showContent(i)" 
            [class]="category.selected ? 'active' : category.iconClassString">
            
            <div *ngIf="category.description; then description ;else noDescription"></div>
            <ng-template #description>
                <div class="thumb-category" [innerHTML]="category.description"></div>
            </ng-template>
            <ng-template #noDescription>
                <div class="thumb-category">
                    <ion-icon name="ios-photos"></ion-icon>
                </div>
            </ng-template>
            <ion-label class="title-category">{{ category.name }}</ion-label>

        </ion-col>
    </ion-row>
</ion-grid>
</ng-template>

<div *ngFor="let category of categories; index as i" [@openCloseCourse]="category.selected ? 'open' : 'closed'" class="item-group-category">
    <div id="wrap-course" class="list-course">
        <div *ngFor="let course of category.courses" class="course-item" >
            <core-courses-course-progress [course]="course"></core-courses-course-progress>
        </div>  
    </div>
</div>