$core-login-page-background-color: $white !default;
$core-login-page-text-color: $text-color !default;
$core-login-button-outline: false !default;
$core-login-loading-color: false !default;
$core-login-item-inner-background-color: $white !default;
$core-login-item-background-color: $white !default;

// Dark.
$core-dark-login-page-background-color: $black !default;
$core-dark-login-page-text-color: $core-dark-text-color !default;
$core-dark-login-item-inner-background-color: $core-dark-login-page-background-color !default;
$core-dark-login-item-background-color: $core-dark-login-page-background-color !default;
$core-dark-login-button-outline: $core-login-button-outline !default;
$core-dark-login-loading-color: $core-dark-text-color !default;

ion-app.app-root page-core-login-credentials,
ion-app.app-root page-core-login-reconnect,
ion-app.app-root page-core-login-site {
    .scroll-content {
        background: $core-login-page-background-color;
        color: $core-login-page-text-color;

        @include darkmode() {
            background: $core-dark-login-page-background-color;
            color: $core-dark-login-page-text-color;
        }
    }

    img {
        max-width: 100%;
    }

    .core-sitename, .core-siteurl {
        @if $core-fixed-url { display: none; }
    }

    .core-sitename + .core-siteurl  {
        margin-top: 0;
    }

    .core-sitename {
        font-size: 1.8rem;
    }

    @if $core-login-button-outline {
        .button-md.button-default-md, .button-ios.button-default-ios {
            @extend .button-md-light;
        }
    }

    @if $core-login-loading-color {
        .core-loading-container {
            color: $core-login-loading-color;

            .spinner circle, .spinner line {
                stroke: $core-login-loading-color;
            }
        }
    }

    @if $core-dark-login-button-outline {
        .button-md.button-default-md, .button-ios.button-default-ios {
            @extend .button-md-light;
        }
    }

    @include darkmode() {
        .core-loading-container {
            color: $core-dark-login-loading-color;

            .spinner circle, .spinner line {
                stroke: $core-dark-login-loading-color;
            }
        }
    }

    .item-input {
        margin-bottom: 20px;
    }

    ion-list.core-login-forgotten-password {
        margin-top: 0;
        margin-bottom: 0;

        a.item {
            background: transparent;
            text-decoration: underline;

            @include darkmode() {
                background: transparent;
            }
        }
    }

    .core-login-site-logo {
        width: 90%;
        max-width: 300px;
        margin: 5px auto;
    }

    .item.item-block {
        background: transparent;

        @include darkmode() {
            background: transparent;
        }
    }

    .core-login-site-qrcode-separator {
        text-align: center;
        margin-top: 12px;
        font-size: 1.2em;
    }
}

@keyframes scalein {
    from {transform: scale(1,1);}
    to {transform: scale(1.1,1.1);}
}

@keyframes transition-width {
    from {
        width: 20px;
    }
    to {
        width: 100%;
    }
}

.ats-header {
    .toolbar-background {
        background-color: $white !important;
        border-color: $white !important;
    }
    .bar-button-default {
        color: $core-color;
    }
}
.ats-header::after {
    background-image: none !important;
}

.ats-title {
    color: $core-color;
    font-size: 5rem;
}
.ats-login {
    .core-login-site-logo,
    .core-siteurl,
    .core-sitename {
        display: none;
    }
    form {
        margin-top: 10vh;
        .item-block.item-input,
        .core-username {
            background-color: #ffffff !important;
            border-radius: 50px;
            box-shadow: 0 0 5px #9dcdb5;
            padding: 5px 10px;
            width: 80vw;
            max-width: 50rem;
            margin-left: auto;
            margin-right: auto;
            opacity: 0.8;
            min-height: 3.5rem;
            .item-inner {
                border: 0;
                box-shadow: unset !important;
                .text-input.text-input {
                    margin: 5px;
                    height: 100%;
                    width: 100%;
                    padding-right: 35px;
                }
                ion-label {
                    font-size: 2rem;
                    margin: 0 5px 0 2px !important;
                    min-width: 3rem;
                    text-align: center;
                }
            }
            core-show-password {
                .button-clear {
                    padding: 0;
                    right: -14px;
                    top: -5px;
                }
            }
        }
        .item-block.item-input:nth-child(1),
        .core-username {
            animation-name: transition-width;
            animation-duration: 0.8s;
            animation-iteration-count: 1;
            animation-direction: alternate;
        }

        .item-block.item-input:nth-child(2) {
            animation-name: transition-width;
            animation-duration: 1s;
            animation-iteration-count: 1;
            animation-direction: alternate;
        }
        
        .core-login-login-button,
        .core-login-cancel-button {
            width: 80vw;
            max-width: 50rem;
            margin-left: auto;
            margin-right: auto;
            border-radius: 50px;
            padding: 0;
            min-height: 4rem;
        }
        .core-login-login-button {
            animation-name: transition-width;
            animation-duration: 1.2s;
            animation-iteration-count: 1;
            animation-direction: alternate;
        }
        .core-login-cancel-button {
            animation-name: transition-width;
            animation-duration: 1.4s;
            animation-iteration-count: 1;
            animation-direction: alternate;
        }
    }
    .core-login-forgotten-password {
        display: none;
    }
    .ats-wave {
        background-image: url("/assets/img/wave.svg");
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        position: fixed;
        bottom: 0px;
        left: 0px;
        width: 100vw;
        height: 35vh;
        overflow: hidden;
        z-index: -1;
    }
}
